.App {
  background-color: #061e3b;
  min-height: 100vh;
  color: white;

  /* font-family: 'LeagueSpartan', 'Helvetica Neue Thin', Courier, monospace; */
}

html {
  /* body won't work ¯\_(ツ)_/¯ */
  scroll-snap-type: y mandatory;
}

@font-face {
  font-family: 'LeagueSpartan';
  src: url('./fonts/LeagueSpartan-Bold.otf');
}
@font-face {
  font-family: 'Helvetica Neue Thin';
  src: url('./fonts/Helvetica\ Neue\ UltraLight.otf');
}
/* .logoName {
  font-family: 'Helvetica Neue Thin';
} */
.header {
  margin: 10px;
}
.snapPageScroll {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.nameDiv {
  top: 30%;
  left: 8.5%;
  position: absolute;
  display: inline-block;
}

.nameHeader {
  font-family: 'LeagueSpartan';
  letter-spacing: 7.5px;
  margin: 0;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
  font-size: 3rem;
}

.namePosition {
  font-family: 'Helvetica Neue Thin';
  letter-spacing: 6.5px;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
  font-size: 2.1rem;
}
